{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
    {% if user.is_authenticated %}
        <h1>Hello World!!</h1>
    {% else %}
        <br/>
        <br/>
        <br/>
        <h1>Login</h1>
        <form action="{% url 'home' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required name="username">
            </div>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" required name="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    {% endif %}
     
</div>

{% endblock %}

